<%- include("./partials/head.ejs") %>

<body>

<!-- Header START -->
<%- include("./partials/navbar.ejs") %>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Title START -->
<section class="pb-5 pb-sm-7">
	<div class="container">
		<!-- Title and breadcrumb -->
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-dots pb-0 mb-0">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">All product</li>
			</ol>
		</nav>
		<!-- Title -->
		<h1 class="h3 mb-0 mt-3">Search items</h1>
	</div>
</section>
<!-- =======================
Main Title END -->

<!-- =======================
Product content START -->
<section class="pt-0">
	<div class="container">
		<div class="row">

			<!-- Filter sidebar START -->
			<aside class="col-xl-3">
				<!-- Responsive offcanvas body START -->
				<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
					<div class="offcanvas-header bg-light">
						<h6 class="offcanvas-title" id="offcanvasSidebarLabel">Advance Filter</h6>
						<button  type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body flex-column p-3 p-xl-0">
						<!-- Search options -->
						<div class="accordion accordion-alt" id="accordionExample">
							<!-- Availability -->
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										Availability
									</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
									<form class="accordion-body">
										
										<!-- Availability group -->
										<div class="form-check">
											<input class="form-check-input focus-shadow-none" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
											<label class="form-check-label" for="flexRadioDefault1">
												All
											</label>
										</div>
										<div class="form-check mt-2">
											<input class="form-check-input focus-shadow-none" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
											<label class="form-check-label" for="flexRadioDefault2">
												New Arrival
											</label>
										</div>
										<div class="form-check mt-2">
											<input class="form-check-input focus-shadow-none" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
											<label class="form-check-label" for="flexRadioDefault3">
												On Stock Only
											</label>
										</div>

									</form>
								</div>
							</div>

							<!-- Categories -->
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button fs-6 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
										Categories
									</button>
								</h2>
								<div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
									<form class="accordion-body">
										
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="category1">
											<label class="form-check-label heading-color" for="category1">Fashion</label>
											<span class="small float-end">(215)</span>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="category2">
											<label class="form-check-label heading-color" for="category2">Electronics</label>
											<span class="small float-end">(142)</span>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="category3">
											<label class="form-check-label heading-color" for="category3">Games</label>
											<span class="small float-end">(25)</span>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="category4">
											<label class="form-check-label heading-color" for="category4">Books</label>
											<span class="small float-end">(81)</span>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="category5">
											<label class="form-check-label heading-color" for="category5">Mobile</label>
											<span class="small float-end">(354)</span>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="category6">
											<label class="form-check-label heading-color" for="category6">Bags</label>
											<span class="small float-end">(41)</span>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="category7">
											<label class="form-check-label heading-color" for="category7">Beauty products</label>
											<span class="small float-end">(35)</span>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="category8">
											<label class="form-check-label heading-color" for="category8">Grocery</label>
											<span class="small float-end">(41)</span>
										</div>

									</form>
								</div>
							</div>

							<!-- Price -->
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Price
									</button>
								</h2>
								<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
									<form class="accordion-body">
										
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="price1">
											<label class="form-check-label heading-color" for="price1">UGX 0 to UGX 20,000</label>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="price2">
											<label class="form-check-label heading-color" for="price2">UGX 20,000 to UGX 50,000</label>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="price3">
											<label class="form-check-label heading-color" for="price3">UGX 50,000 to UGX 100,000</label>
										</div>
										<!-- Checkbox -->
										<div class="form-check mt-2">
											<input class="form-check-input" type="checkbox" value="" id="price4">
											<label class="form-check-label heading-color" for="price4">UGX 100,000 to more</label>
										</div>
									</form>
								</div>
							</div>

							<!-- Color -->
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Color
									</button>
								</h2>
								<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
									<form class="accordion-body">
										<!-- Radio color tabs -->
										<div class="color-check-radio">
											<input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor1" style="background-color: #9a0a0a;">
											<label class="form-check-label" for="flexRadiocolor1"></label>
						
											<input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor2" style="background-color: #32C7F5;">
											<label class="form-check-label" for="flexRadiocolor2"></label>
						
											<input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor3" style="background-color: #F7C32E;">
											<label class="form-check-label" for="flexRadiocolor3"></label>
						
											<input class="form-check-input" type="radio" name="flexRadiocolor" id="flexRadiocolor4" style="background-color: #333369;">
											<label class="form-check-label" for="flexRadiocolor4"></label>
										</div>
									</form>
								</div>
							</div>

							<!-- Rating star -->
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button fs-6 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Rating star
									</button>
								</h2>
								<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
									<form class="accordion-body">
										<ul class="list-inline mb-0 g-3">
											<!-- Item -->
											<li class="list-inline-item mb-0">
												<input type="checkbox" class="btn-check" id="btn-check-6">
												<label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-6">1<i class="bi bi-star-fill"></i></label>
											</li>
											<!-- Item -->
											<li class="list-inline-item mb-0">
												<input type="checkbox" class="btn-check" id="btn-check-7">
												<label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-7">2<i class="bi bi-star-fill"></i></label>
											</li>
											<!-- Item -->
											<li class="list-inline-item mb-0">
												<input type="checkbox" class="btn-check" id="btn-check-8">
												<label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-8">3<i class="bi bi-star-fill"></i></label>
											</li>
											<!-- Item -->
											<li class="list-inline-item mb-0">
												<input type="checkbox" class="btn-check" id="btn-check-15">
												<label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-15">4<i class="bi bi-star-fill"></i></label>
											</li>
											<!-- Item -->
											<li class="list-inline-item mb-0">
												<input type="checkbox" class="btn-check" id="btn-check-16">
												<label class="btn btn-sm btn-light btn-primary-soft-check" for="btn-check-16">5<i class="bi bi-star-fill"></i></label>
											</li>
										</ul>
									</form>
								</div>
							</div>
						</div>

						<!-- Buttons -->
						<div class="d-flex justify-content-between p-2 p-xl-0 mt-xl-3">
							<button class="btn btn-link text-primary-hover p-0 mb-0">Clear all</button>
							<button class="btn btn-primary mb-0">Filter Result</button>
						</div>
					</div>
				</div>		
			</aside>
			<!-- Filter sidebar END -->

			<!-- Product grid START -->
			<div class="col-xl-9 ps-xl-6">
				<!-- Search, select and responsive filter button -->
				<form class="row g-2 g-xl-4 mb-4">
					<!-- Search -->
					<div class="col-md-6">
            <div class="rounded position-relative">
							<input class="form-control bg-light pe-5" type="search" placeholder="Search products by name or keyword..." aria-label="Search">
							<button class="btn bg-transparent border-0 px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="bi bi-search"> </i></button>
						</div>
					</div>

					<!-- Select -->
					<div class="col-sm-6 col-md-3 ms-auto">
						<select class="form-select" aria-label="Default select example">
							<option selected="">Sort by</option>
							<option value="1">Name</option>
							<option value="2">Low to High Price</option>
							<option value="3">Heigh to Low Price</option>
						</select>
					</div>

          <div class="col-sm-6 col-md-3 d-grid d-xl-none">
            <!-- Filter offcanvas button -->
						<button class="btn btn-dark mb-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
							<i class="fas fa-sliders-h me-1"></i> Show filter
						</button>
          </div>
				</form>

				<!-- Products -->
				<div class="row g-4 g-lg-5">
					<!-- Product item -->
					<% featuredProducts.forEach(product => { %>
					<div class="col-sm-6 col-lg-4">
						<div class="card border bg-transparent overflow-hidden p-0 h-100">
							<!-- Overlay -->
							<div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-3">
								<div class="badge text-bg-dark">Featured</div>
								<a href="#" class="btn btn-white btn-round border mb-0 ms-auto"><i class="bi bi-heart"></i></a>
							</div>

							<!-- Image -->
							<div class="card-header bg-light rounded m-2">
								<img src="/uploads/<%= product.images[0] %>" alt="">
							</div>

							<!-- Card body -->
							<div class="card-body pb-0">
								<!-- Title -->
								<h6 class="card-title"><a href="/products/<%= product._id %>" class="stretched-link"><%= product.name %></a></h6>
								<!-- Badge and price -->
								<ul class="list-inline">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
								</ul>
							</div>

							<!-- Card footer -->
							<div class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0">
								<p class="fw-bold text-success mb-0">UGX <%= product.price %></p>
								<a href="#" class="btn btn-dark mb-0 z-index-2"><i class="bi bi-cart"></i></a>
							</div>
						</div>
					</div>
					<% }) %>

					<!-- CTA -->
					<div class="col-sm-6 col-lg-12">
						<div class="card card-body h-100 p-md-6" style="background-image:url(/images/shop/bg/05.jpg); background-position: center left; background-size: cover;">
							<div class="row align-items-center">
								<div class="col-lg-7 mb-4 mb-lg-0">
									<h4 class="text-white mb-0">Checkout our newest & stylish products</h4>
								</div>
								<div class="col-lg-5 text-lg-end">
									<a href="#" class="btn btn-white mb-0">Shop now</a>
								</div>
							</div>
						</div>
					</div>

					<% products.forEach(product => { %>
					<!-- Product item -->
					<div class="col-sm-6 col-lg-4">
						<div class="card border bg-transparent overflow-hidden p-0 h-100">
							<!-- Overlay -->
							<div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-3">
								<span class="badge text-bg-danger">30% off</span>
								<a href="#" class="btn btn-white btn-round border mb-0 ms-auto"><i class="bi bi-heart"></i></a>
							</div>

							<!-- Image -->
							<div class="card-header bg-light rounded m-2">
								<img src="/uploads/<%= product.images[0] %>" alt="">
							</div>

							<!-- Card body -->
							<div class="card-body pb-0">
								<!-- Title -->
								<h6 class="card-title"><a href="/products/<%= product._id %>" class="stretched-link"><%- product.content %></a></h6>
								<!-- Badge and price -->
								<ul class="list-inline">
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
									<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
								</ul>
							</div>

							<!-- Card footer -->
							<div class="card-footer bg-transparent d-flex justify-content-between align-items-center pt-0">
								<div class="d-flex align-items-center gap-2 justify-content-center">
									<p class="fw-bold text-success mb-0">UGX <%= product.price %></p>
									<small class="text-decoration-line-through">UGX <%= product.reducedPrice %></small>
								</div>
								<a href="#" class="btn btn-dark mb-0 z-index-2"><i class="bi bi-cart"></i></a>
							</div>
						</div>
					</div>
					<% }) %>

				</div> <!-- Row END -->

				<!-- Pagination -->
				<ul class="pagination pagination-primary-soft d-flex justify-content-end mb-0 mt-5">
					<li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
						<a class="page-link" href="?page=<%= currentPage - 1 %>">Prev</a>
					</li>
					<% for (let i = 1; i <= totalPages; i++) { %>
						<li class="page-item <%= currentPage === i ? 'active' : '' %>">
							<a class="page-link" href="?page=<%= i %>"><%= i %></a>
						</li>
					<% } %>
					<li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
						<a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
					</li>
				</ul>

			</div>
			<!-- Product grid END -->		
		</div>
	</div>
</section>
<!-- =======================
Product content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<%- include("./partials/footer.ejs") %>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Theme Functions -->
<script src="/js/functions.js"></script>

</body>
</html>